<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Confirmar Compra</title>
</head>
<body>
  
  <h1>Confirmação de Compra</h1>
  
  <ul>
    {{#each ticketDetails}}  
      <li>
        
        <strong>Tipo de ingresso:</strong> {{this.nome}} <br>
        <strong>Preço Unitário:</strong> R$ {{this.preco}} <br>
        <strong>Quantidade:</strong> {{this.quantidade}} <br>
        <strong>Total:</strong> R$ {{this.total}} <br>  
      </li>
    {{/each}} 
  </ul>

  <style>
    .bt-confirmar:hover{
      background-color: green;
    }
    .bt-cancelar{
      margin-top: 10px;
    }
    .bt-cancelar:hover{
      background-color: rgb(161, 33, 33);
    }
  </style>
  <p><strong>Total a pagar:</strong> R$ {{this.valorTotalIngressos}}</p>

  <form action="/confirmar/{{this.purchaseId}}" method="POST">
    <button type="submit" class="bt-confirmar">Confirmar Compra</button>  
  </form>
  <div>
        
  </div>
  <form action="/cancelar/{{this.purchaseId}}" method="POST">
    <button type="submit" class="bt-cancelar">Cancelar Compra</button>  
  </form>
</body>
</html>
